@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #0E4BF1;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 14rem;
    padding: 10px 14px;
    background-color: #FFF;
    border-right: 1px solid #e6e5e5;
    transition: all 0.5s ease;
}
nav.close{
    width: 73px;
}

nav .logo .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-left: 14px;
    transition: all 0.5s ease;
}
nav.close .logo{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #707070;
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: #707070;
    transition: all 0.5s ease;
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: #0E4BF1;
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid #e6e5e5;
}

.dashboard{
    position: relative;
    left: 224px;
    background-color: #FFF;
    min-height: 100vh;
    width: calc(100% - 14rem);
    padding: 10px 14px;
    transition: all 0.5s ease;
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: #FFF;
    transition: all 0.5s ease;
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: #000;
    cursor: pointer;
}
.top img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: #0E4BF1;
    border-radius: 6px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: #4DA3FF;
    transition: all 0.5s ease;
}
.boxes .box i{
    font-size: 35px;
    color: #000;
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: #000;
}
.boxes .box.box2{
    background-color: #FFE6AC;
}
.boxes .box.box3{
    background-color: #E7D1FC;
}

/* #users-table {
    width: 100% !important;
    margin: 0 auto;
    border-collapse: collapse;
}
#users-table th, #users-table td {
    padding: 8px;
    border: 1px solid #ddd;
}
#users-table th {
    background-color: #f2f2f2;
    text-align: left;
} */

#users-table_info{
    display: none;
}

#users-table_paginate{
    display: none;
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2  - 10px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.error-message {
    color: red;
    font-size: 12px;
}

.validation-input-categorie{
    background-color: #f3aea9;
    display: none;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    margin: 1rem 1rem;
    border-radius: 10px;
}

.validation-input-categorie i {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: #ab0d02;
}

.validation-input-categorie h4 {
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.validation-input-categorie.show-validation {
    display: flex;
}

.validation-input-Post{
    background-color: #f3aea9;
    display: none;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    margin: 1rem 1rem;
    border-radius: 10px;
}

.validation-input-Post i {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: #ab0d02;
}

.validation-input-Post h4 {
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.validation-input-Post.show-validation {
    display: flex;
}